<div class="container" style="background-image: url('/images/Distributorimg.jpg') ;background-size: cover;background-repeat: no-repeat;background-position: center;">
    <div class="row d-flex justify-content-center align-items-center h-100 pb-md-2 pt-md-2">
        <div class="col-3 text-center">
            <h1 style="text-shadow: 2px 2px 8px #38ab47;">Government</h1>
        </div>
    </div>
    <div class="row d-flex justify-content-center align-items-center h-100 pb-md-2 pt-md-2">
        <div class="col-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    @* <a class="navbar-brand" href="#">Navbar</a> *@
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle active" style="color: rgb(60, 82, 222);" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Consumer
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="/Government/ShowCardHolder">Existing Cardholder</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="/Government/ShowNewRequest">New Request</a></li>
                                    @* <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">Modification</a></li>*@
                                </ul>
                            </li>


                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle active" style="color: rgb(60, 82, 222);" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Supplier
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="/Government/ShowSupplier">Supplier List</a></li>
                                   @* <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">New Request</a></li>*@
                                    @*<li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">Modification</a></li>*@
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="/Government/ShowSupplierStock">Stock</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle active" style="color: rgb(60, 82, 222);" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Distributor
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="/Government/ShowDistributor">Distributor List</a></li>
                                    @*<li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">New Request</a></li>*@
                                    @*<li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">Modification</a></li>*@
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="/Government/ShowDistributorStock">Stock</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link active" style="color: rgb(60, 82, 222);" href="/Government/ShowStock" role="button" aria-expanded="false">
                                    Stock
                                </a>
                            </li>
                        </ul>
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                        <li class="d-flex">
                            <a class="nav-link active" aria-current="page" href="/Home/Index">Home</a>
                        </li>
                       @* <li class="nav-item dropdown d-flex">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Notification
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Link 1</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Link2</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Link 3</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Link 4</a></li>
                            </ul>
                        </li>*@
                        <li class="d-flex">
                            <a class="nav-link active" aria-current="page" href="/Login/login">Logout</a>
                        </li>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div style="height: 500px;"></div>
</div>